<div class="card">
    <div class="left-col">
        <img lazy [src]="coinData.iconUrl" alt="">
        <div class="title">
            {{coinData.name}}
        </div>
        <div class="sub-title">
            {{coinData.price | priceShortener | currencySymbols }}
        </div>
        <div class="changes" [ngClass]="coinData.change > 0 ? 'pos': 'neg' ">
            {{coinData.change}}%
        </div>
    </div>
    <div class="right-col">
        <div class="chart">
            <canvas #canvasEl></canvas>
        </div>
    </div>
</div>