<nav class="navbar-top">
    <div class="navbar-top__title">
        Crypto
    </div>
    <div class="navbar-top__links">
        <a class="active">Home</a>
        <a >Charts</a>
        <a >Settings</a>
        <a >About</a>
    </div>
</nav>
<nav class="navbar-bottom">
    <div class="navbar-bottom__links">
        <a id="home" class="active">
            <img src="../../assets/icons/Home.svg" alt="">
        </a>
    </div>
    <div class="navbar-bottom__links">
        <a id="charts">
            <img src="../../assets/icons/Charts.svg" alt="">
        </a>
    </div>
    <div class="navbar-bottom__links">
        <a id="Settings">
            <img src="../../assets/icons/Settings.svg" alt="">
        </a>
    </div>
    <div class="navbar-bottom__links">
        <a id="about">
            <img src="../../assets/icons/About.svg" alt="">
        </a>
    </div>
</nav>