@import '../../../style/style.scss';
.slider {
    width: 90vw;
    margin: 0 auto;

    &__details {

        margin: 1.25rem 0 .75rem 0;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        align-content: center;

        .title {
            font-weight: 700;
            font-size: 1.5rem;
        }
        .sub-title {
            color: $blue-mid;
        }
    }

    &__inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;


        padding-bottom: 2rem;

        overflow-x: scroll;
        overflow-y: hidden;

        scroll-behavior: smooth;
    }
}