<div class="slider">
    <div class="slider__details">
        <div class="title">
            {{settings.title}}
        </div>
        <div class="sub-title">
            <a [routerLink]="['/charts']">
                {{settings.subTitle}}
            </a>
        </div>
    </div>
    <div class="slider__inner" [id]="sliderId" (mousedown)="dragFn($event,true,true)" (mouseup)="dragFn($event, false)" (mouseleave)="dragFn($event, false)" (mousemove)="MoveFn($event)">
        <app-card *ngFor="let coinData of coinDataArr" [coinData]="coinData"></app-card>
    </div>
</div>
