<div class="slider">
    <div class="slider__details">
        <div class="title">
            Top Cryptos
        </div>
        <div class="sub-title">
            See all
        </div>
    </div>
    <div class="slider__inner" [id]="sliderId" (mousedown)="dragFn($event,true,true)" (mouseup)="dragFn($event, false)" (mouseleave)="dragFn($event, false)" (mousemove)="MoveFn($event)">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </div>
</div>
